.weatherApp{
	text-align: center;
	margin: 0 auto;
}
.currentLocation, .currentTemp{
	font-size: 3em;
}

.imgCondition{
	width: 7em;
}

.currentCondition{
	font-size: 2em;
}

.weatherDetails ul li{
	list-style-type: none;
	font-size: 3em;
}