.weatherApp{
	text-align: center;
	margin: auto;
	width: auto;
	height: 80%;
}

.currentLocation{
	color: #fff;
	background-color: skyblue;
	font-size: 5em;
}
.currentTemp, .currentTempC, .currentCondition{
	font-size: 3em;
}

.imgCondition{
	width: 7em;
}

.weatherDetails ul li{
	list-style-type: none;
	display: inline-block;
	font-size: 3em;
}